.navbar {
  display: flex;
  padding: 30px 140px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.logo img {
  width: 35px;
}

.logo h3 {
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #5b5b5b;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: #232323;
}
